body {
    font-family: "iranyekan", "Itim", sans-serif;
}

.card-img {
    width: 50%;
}
.rtl .list-check li::before {
    top: 10px;
    right: -30px;
    left: auto;
}

.BTC {
    background-color: #f7931a;
    -webkit-mask: url(../img/crypto/BTC.svg) no-repeat center;
    mask: url(../img/crypto/BTC.svg) no-repeat center;
}
.BCH {
    background-color: #76ce1e;
    transform: rotate(-15deg);
    -webkit-mask: url(../img/crypto/BTC.svg) no-repeat center;
    mask: url(../img/crypto/BTC.svg) no-repeat center;
}
.ETH {
    background-color: #62688f;
    -webkit-mask: url(../img/crypto/ETH.svg) no-repeat center;
    mask: url(../img/crypto/ETH.svg) no-repeat center;
}
.DOGE {
    background-color: #ba9f33;
    -webkit-mask: url(../img/crypto/DOGE.svg) no-repeat center;
    mask: url(../img/crypto/DOGE.svg) no-repeat center;
}
.DASH {
    background-color: #1c75bc;
    -webkit-mask: url(../img/crypto/DASH.svg) no-repeat center;
    mask: url(../img/crypto/DASH.svg) no-repeat center;
}
.LTC {
    background-color: #838383;
    -webkit-mask: url(../img/crypto/LTC.svg) no-repeat center;
    mask: url(../img/crypto/LTC.svg) no-repeat center;
}
.USDT {
    background-color: #2ca07a;
    -webkit-mask: url(../img/crypto/USDT-alt.svg) no-repeat center;
    mask: url(../img/crypto/USDT-alt.svg) no-repeat center;
}
.coin {
    width: 4rem;
    height: 4rem;
    -webkit-mask-size: contain;
    mask-size: contain;
    margin: auto;
}
.shadow {
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff !important;
}

.accordionTwo .panel-group {
    margin-bottom: 0;
}

.accordionTwo .panel {
    background-color: transparent;
    box-shadow: 10px 10px 30px #cacaca, -10px -10px 30px #ffffff;
    border-bottom: 10px solid transparent;
    border-radius: 0;
    margin: 5px 0;
}

.accordionTwo .panel-default {
    border: 0;
}

.accordionTwo .panel-default > .panel-heading {
    background: #fafafa;
    border-radius: 0px;
    border-color: #fafafa;
}
.accordionTwo .panel-default .panel-body {
    padding: 1rem;
}
.accordion-wrap .panel-heading {
    padding: 0px;
    border-radius: 0px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.accordionTwo .panel .panel-heading a.collapsed {
    color: #555;
    background-color: #fff;
    display: block;
    padding: 20px;
}

.accordionTwo .panel .panel-heading a {
    display: block;
    padding: 20px;
    color: #2196f3;
}

.accordion-wrap .panel .panel-heading a {
    font-size: 14px;
}

.accordionTwo .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
    padding-top: 0;
    padding: 20px 20px 20px 30px;
    background: #fafafa;
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

.accordionTwo .panel .panel-heading a:after {
    content: "\2212";
    color: #4285f4;
    background: #fff;
}

.accordionTwo .panel .panel-heading a:after,
.accordionTwo .panel .panel-heading a.collapsed:after {
    font-family: "FontAwesome";
    font-size: 14px;
    float: right;
    width: 21px;
    display: block;
    height: 21px;
    line-height: 21px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.accordionTwo .panel .panel-heading a.collapsed:after {
    content: "\2b";
    color: #333;
    box-shadow: 10px 10px 30px #aaa, -10px -10px 30px #fafafa;
}

.accordionTwo .panel .panel-heading a:after {
    content: "\2212";
    color: #4285f4;
}

a:link {
    text-decoration: none;
}
