@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("../font/eot/iranyekanwebboldfanum.eot");
    src: url("../font/eot/iranyekanwebboldfanum.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */ url("../font/woff/iranyekanwebboldfanum.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../font/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("../font/eot/iranyekanwebregularfanum.eot");
    src: url("../font/eot/iranyekanwebregularfanum.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */ url("../font/woff/iranyekanwebregularfanum.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../font/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}
